
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');/* font-family: 'Roboto', sans-serif; */


* {
  font-family: 'Do Hyeon', sans-serif;
  background-color: black;
  color: white;
  white-space: pre-line
}

.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-wrapper {
  /* min-width: 600px; */
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  width:75%;
  display: flex;
  justify-content:space-around;
}

.question-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: white;
}
.prev-questions-wrapper {
  padding: 30px 40px;
  background-color: grey;
  border-radius: 10px;
  color: white;
}

/* HOME */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper input[type="text"]{
  height: 25px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}

.form-wrapper .input-wrapper {
  margin-bottom: 40px;
}

.form-wrapper .checkbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  width: 100px;
  height: 25px;
  appearance: none;
  border: 1px solid white;
}

#alert-message {
  height: 25px;
}

/* HEADER */
.header-container {
  min-width: 100%;
  margin-bottom: 50px;
}

.header-container .header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

#state-bar {
  height: 10px;
  background-color: grey;
  border-radius: 5px;
}

#now-bar{
  width: 0%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

/* PrevTestPage */
.text-q {
  text-align: center;
}

.text-wrapper {
  width: 100%;
  margin-bottom: 50px;
}

.test-text {
  margin-bottom: 20px;
  background-color: gray;
}

.box-wrapper .start-btn {
  margin-top: 40px;
}

.radios-container {
  width:100%;
  display: flex;
  justify-content:space-around;
  background-color: gray;
}


#radio-wrapper {
  width: 150px;
  text-align: center;
  background-color: gray;

}

.question {
  margin-bottom: 10px;
  text-align: center;
  background-color: gray;
}
/* TestPage */

/* ResultPage */

.result-message {
  text-align: center;
  margin-bottom: 30px;
}

.emphasis {
  font-size: 20px;
  font-weight: bold;
}


/* ResultTablePage */

.tables-wrapper {
  height: 220px;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.table {
  width: 70px;
  height: 0%;
  background-color: white;
  margin: 20px 10px 0 10px;
  display: flex;
  flex-direction: column-reverse;
}

.table-col-name {
  height: 22px;
  text-align: center;
}

.table-rows-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Table */

.user-info {
  font-size: 30px;
}

.avg-title {
  font-size: 30px;
  margin: 30px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
  border : 2px solid white;
}

.table-row .table-row-title {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.table-row .table-row-content {
  width : 80%;
}

/* LoadingPage */
.loading-message {
  font-size: 20px;
}

#loading-img {
  width: 200px;
  height: 200px;
  /* background-color: white; */
  background-image: url(./img/loading-img.gif);
  background-size: cover;
}

/* ErrorPage  */
.error-message {
  font-size : 20px;
}