/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');/* font-family: 'Roboto', sans-serif; */
/* @font-face {
  font-family: 'Roboto';
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
} */

/* .App {
  font-family: 'Roboto', sans-serif;
} */

* {
  font-family: 'Do Hyeon', sans-serif;
  background-color: black;
  color: white;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-wrapper {
  /* min-width: 600px; */
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  width:75%;
  display: flex;
  justify-content:space-around;
}

.question-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: white;
}
.prev-questions-wrapper {
  padding: 30px 40px;
  background-color: gray;
  border-radius: 10px;
  color: white;
}

/* HOME */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper input[type="text"]{
  height: 25px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}

.form-wrapper .input-wrapper {
  margin-bottom: 40px;
}

.form-wrapper .checkbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  width: 75px;
  height: 25px;
  appearance: none;
  border: 1px solid white;
}

#alert-message {
  height: 25px;
}

/* HEADER */
.header-container {
  min-width: 100%;
  margin-bottom: 50px;
}

.header-container .header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

#state-bar {
  height: 10px;
  background-color: grey;
  border-radius: 5px;
}

#now-bar{
  width: 0%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

/* PrevTestPage */
.text-q {
  text-align: center;
}

.text-wrapper {
  width: 100%;
  margin-bottom: 50px;
}

.test-text {
  margin-bottom: 20px;
  background-color: gray;
}

.box-wrapper .start-btn {
  margin-top: 40px;
}

.radios-container {
  width:100%;
  display: flex;
  justify-content:space-around;
  background-color: gray;
}


#radio-wrapper {
  width: 150px;
  text-align: center;
  background-color: gray;

}

.question {
  margin-bottom: 10px;
  text-align: center;
  background-color: gray;
}
/* TestPage */

/* .radio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
